 
.btn-orange {
    font-family: Tahoma;
    letter-spacing:0.112rem ; 
    font-size: 16px;  
    height: 40px;
    min-width: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: #f58936;
    text-transform: uppercase;
    cursor: pointer;
}
.google-sign-in {
    background-color: #4285f4;
}