
.header {
    .head-header {
        background-color: black;
        color:white;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        padding-top: 5px;
        height: 30px;
        font-size: 0.8rem;
        .ul_signIn{
            list-style: none;
            align-self: center;
            justify-self: center;
            li{
                display: inline;
                margin: 5px;
            }
        }
    }
    .bottom-header{
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        * {
            align-self: center;
        }

    }
}
.link_sign {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}
