@keyframes pop-in {
   0% { opacity: 0; -webkit-transform: scale(0.5); }
   100% { opacity: 1; -webkit-transform: scale(1); }
   } 
.OffreCard{
   box-shadow: 0px 0px 5px rgba(0,0,0,0.081125);
   max-width: 99%; 
   border-radius:5px;
   transition: all 0.253s ease;  
   
   animation:pop-in 0.4s;
}
.OffreCard:hover{
   box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
   max-width: 100%; 
}
.OffreCard .fas{
   width:20px;
   padding:3px; 
   margin-right: 3px;
}

.OffreCard .fas{
   width:20px;
   padding:2px; 
}

.OffreCard .img-side {
   width:250px;

}
.OffreCard .img-side .cardImg{
   height: 100%; 
   width: 100%; 
   object-fit: contain; 
}

.categories-list .btnn-outline-primary{
   color: #f58936;
   /* border: solid 1px #f58936; */
}
.categories-list .btnn-outline-primary:hover{
   background-color: #f58936;
   border:none;
   color:white;
}
 
.categories-list  .picked{
   color:white;
   background-color: #f58936;
   border:none;
}

.offre-details{
   
   animation:pop-in 0.5s;
}