 
  .star-wrapper {
    width:280px;
    direction: rtl; 
  }
  .star-wrapper span  {
    font-size: 2em;
    color: rgb(214, 214, 214);
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
    padding:5px;
    cursor: pointer;
  }
  .star-wrapper span:hover {
    color: gold;
    transform: scale(1.3);
  }
  .star-wrapper .s1:hover ~ span {
    color: gold;
  }
  .star-wrapper .s2:hover ~ span {
    color: gold;
  }
  .star-wrapper  .s3:hover ~ span {
    color: gold;
  }
  .star-wrapper .s4:hover ~ span {
    color: gold;
  }
  .star-wrapper  .s5:hover ~ span {
    color: gold;
  }  
  .star-wrapper .selected{
    color: gold; 
  }
  .wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
  }
  .starts .fas{
    font-size: 1em;
    /* color: rgb(214, 214, 214); */
    text-decoration: none;
    transition: all 0.5s;
    margin: 2px;
    padding:5px;
    cursor: pointer;
  }
  .starts{ 
    direction: rtl; 
  }
 
  .actif{
    color: gold; 
    font-size:55px;
  }
  @keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
    } 
  .user_rate{
    animation:pop-in 0.5s;
  }