$base-color :#f58936;
$with_column :500px;


.form-control-main {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e1e1e1;
    outline: none;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: auto;
    padding: 15px 12px;
    transition: all .2s cubic-bezier(0,0,.58,1) 0s;
}
.section_container{
  
    section{
        width: 100vw;
        height: 80vh
    }
    #sec1::before{
        content: "";
        width: 100%;
        height: 100%;
        background: center  no-repeat
        url('../../assets/landing.jpg');
        background-size: auto 115%;
        position :absolute;
        top: 0;
    }
    #sec1{
        position: relative;
        .content{
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            z-index: 10;
            color: white;
            h1{
                font-size: 3rem;
                max-width: 30ch;
                text-align: center;
            }
           
            .form-group{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                &>*{
                    height: 50px;
                    width: 280px;
                    color: gray;
                }
                & > *:nth-child(1){
                    border-top-left-radius: 25px ;
                    border-bottom-left-radius: 25px ;
                }
                & > *:last-child{
                    border-top-right-radius: 25px ;
                    border-bottom-right-radius: 25px ;
                }
            }
            button{
                background-color: $base-color;
                border :0;
                outline: 0;
                color: white !important;
                text-transform: uppercase;
                width: 150px !important;
            }
        
        }
        .shalow_bg{
            background-color: rgba(0, 0, 0, 0.675);
            height: 100%;
            width: 100%;
            position :absolute;
            top: 0;
        }

    }
    #sec2{
        height: 100% !important;
        background-color: #f7f7f7;
        padding-top: 10px;
        padding-bottom: 100px;
        h1{
            padding-bottom: 80px;
            text-align: center;
            font-weight: bold;
        }
       .content{
           display: flex;
           justify-content: center;
           .text_intro{
               h2{
                  color: $base-color;
               }
           }
         

       }
    }
    #sec3{
        width: 100%;
        height: 100% !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 100px;
        background-color: white;
        margin: 0 auto;
        h1 {
            text-align: center;
            margin-bottom: 100px;
            font-weight: bold;
            
        }
        .section-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }
    #sec4{
        background-color: rebeccapurple;
        
        min-height: 0vh
    }
}